@model IEnumerable<Order>

@{
    ViewData["Title"] = "DeliveryInfo";
    Layout = "_AdminLayout";
}
<h1>Delivery Info</h1>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet" />
</head>
<table class="table table-bordered table-striped">
    <tr>
        <th>Customer Name</th>
        <th>Line One</th>
        <th>Line Two</th>
        <th>Line Three</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Delivery Date</th>
    </tr>
    <tr>
        @foreach (Order o in Model)
        {
            @foreach (CartLine line in o.Lines)
            {
                @if(o.Delivery == true)
                {
                    <td>@o.Name</td>
                    <td>@o.Line1</td>
                    <td>@o.Line2</td>
                    <td>@o.Line3</td>
                    <td>@o.City</td>
                    <td>@o.State</td>
                    <td>@o.Zip</td>
                    <td>@o.DeliveryDate</td>
                }
            }
        }
    </tr>
</table>

<a class="btn btn-sm btn-secondary navbar-btn"
   asp-controller="Order" asp-action="List"
   asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
    <i class="fas fa-angle-double-left"></i>
</a>
